@import "../node_modules/antd/lib/style/themes/default.less";
@primary-color: #00375B;
@text-color: #000000;
@text-color-secondary: #eb2f96;
@heading-color: #fa8c16;
@secondary-color: #0000ff;
@bg-color: #dddddd;