@import "../vars";
.dashboard {
  color: @heading-color;
}

// .secondary {
//   color: @secondary-color;
// }

.component-container {
  padding: 10px;
  margin-bottom: 20px;
}

.theme-selector {
  width: 150px;
}